{% extends 'adminapp/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/admin_styles.css' %}">
{% endblock %}

{% block content %}
<div class="centered-div">
    <form class="form-horizontal ml-2" method="post" action="{% url 'admin:add_groups_to_student' student.id %}">
        {% csrf_token %}
        <div>
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
        </div>
        <input class="btn btn-success btn-lg" type="submit" value="Сохранить">
        <a href="{% url 'admin:student_update' student.id %}" class="btn btn-danger btn-lg">Отмена</a>
    </form>
</div>
{% endblock %}