{% extends 'adminapp/base.html' %}
{%load static %}

{% block content %}
<h1 align="center">Группы</h1>
<div class="centered">
	<form class="form-horizontal" method="post" action="{% url 'admin:group_create' %}">
		{% csrf_token %}
		<div class="text-right">
			<input class="btn btn-outline-secondary" type="submit" value="Добавить">
		</div>
	</form>
	<table>
		<thead>
			<tr> 
				<td> 
					ID
				</td>
				<td>
					Название
				</td>
			</tr>
		</thead>
		<tbody>
			{% for group in groups %}
			<tr> 
				<td> 
					{{ group.id }}
				</td> 
				<td>
					<a href="{% url 'admin:group_update' group.id %}">{{ group.name }}</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
