{% extends 'adminapp/base.html' %}
{%load static %}

{% block content %}
<form class="form-horizontal" method="post" action="{% url 'admin:group_create' %}">
	{% csrf_token %}
	<input class="btn btn-lg a1 center1" type="submit" value="Добавить">
</form>
<table>
	<tbody>
		<th> 
			<td> 
				ID
      		</td>
			<td>
				Название
			</td>
		</th>
		{% for group in groups %}
        <tr> 
          	<td> 
				{{ group.id }}
        	</td> 
			<td>
				<a href="{% url 'admin:group_update' group.id %}">{{ group.name }}</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
