{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<form class="form-horizontal" method="post" action="{% url 'admin:parent_update' pk %}">
	{% csrf_token %}
	<div>
		{% for field in update_form %}
		<div class="form-group">
			{{ field.label_tag }}
			<div>{{ field }}</div
			{% if field.errors %}>
				{% for error in field.errors %}
					<div class="alert alert-danger">
						{{ error }}
					</div>
				{% endfor %}
			{% endif %}
		</div>
		{% endfor %}
	</div>
	<input class="btn btn-lg a1 center1" type="submit" value="сохранить">
</form>
<form class="form-horizontal" method="post" action="{% url 'admin:parent_delete' pk %}">
	{% csrf_token %}
	<input class="btn btn-lg a1 center1" type="submit" value="удалить">
</form>
{% endblock %}
