{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<div class="">
	<div>
		<link rel="stylesheet" href="https://259506.selcdn.ru/s.tb.ru/tb/0.1.345/style/blocks/form-type-1.css"/> 
		<div class="sb-container"></div>
		{% if upd %}
			<form class="sb-row sb-m-clear-bottom ml-1 mr-1" method="post" action="{% url 'admin:student_update' pk %}">
		{% else %}
			<form class="sb-row sb-m-clear-bottom ml-1 mr-1" method="post" action="{% url 'admin:student_create' %}">
		{% endif %}	
		<div class="sb-col_lg-8 sb-col-offset_lg-2 sb-col_md-12 sb-col_sm-12 sb-col_xs-12 sb-text-opacity sb-font-p2"><br><br></div> 
		{% csrf_token %}
		{% for field in form %}
		<div class="sb-col_sm-12 sb-col_xs-12 s-form-type-1__field  sb-col_lg-6 sb-col_md-6 ">  
			<div class="sb-input s-form-type-1__input" data-validated="true">
				{{ field.label_tag }}
				{{ field }}
			</div>
		</div>
		{% endfor %}
		<input class="btn btn-success btn-lg ml-4 mt-5" type="submit" value="Сохранить">
		{% if upd %}
			<a href="{% url 'admin:group_delete' pk %}" class="btn btn-danger btn-lg ml-4 mt-5" role="button">Удалить</a>
		{% endif %}
		<a href="{% url 'admin:groups' %}" class="btn btn-lg ml-4 mt-5" role="button">Отмена</a>
		</form>
	</div>
	{%if upd %}
	<div class="centered">
		<form class="form-horizontal" method="get" action="{% url 'admin:add_groups_to_student' pk %}">
			{% csrf_token %}
			<div class="text-right">
				<input class="btn btn-outline-secondary" type="submit" value="Добавить">
			</div>
		</form>
		<table>
			<caption>Группы</caption>
			<thead>
				<tr>
					<td>ID</td>
					<td>ФИО</td>
				</tr>
			</thead>
			<tbody>
				{% for group in groups %}
					<tr>
						<td>{{ group.id }}</td>
						<td><a href="{% url 'admin:group_update' group.id %}">{{ group.name }}</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
</div>
{% endblock %}
