body {
    background: #e6e6e6;
}
.centered {
    margin: 5% 30%;
    padding: 5px;
    background: #111111;
    border: 1px solid #000;
    border-radius: 10px;
}

.centered table {
    width: 100%;
    text-align: center;
}

.centered table thead td {
    color: #fff;
}
.centered table tbody td {
    color: #a9a9a9;
}

.centered table td a {
    color: #a9a9a9;
}