{% extends 'mainapp/base.html' %}
{% block content %}
<div class="at table-responsive">
	<table class="shedule_table table table-sm bk">
        <thead class="av">
            <tr class="t1" height="60">
				<th width="128px"></th>
				{% for day in week %}
				  	<th width="128px">{{ day.0 }}</th>
				{% endfor %}
            </tr>
        </thead>
        <tbody>
			{% for time in times %}
			<tr>
				<td height="60">{{ time }}</td>
				{% for day in week %}
					{% for group in groups %}
						{% if group.day == day.1.isoweekday and group.time.id == time.id and day.1 in group.get_list_dates %}
							<td class="t2">
								<div class='holder'>
									<div>
										<a class="ah" href="{% url 'mainapp:group' group.id %}">{{ group.name }}</a>
									</div>
								</div>
							</td>
							{{ state.true }}
						{% endif %}
					{% endfor %}
					{% if not state %}
						<td></td>
					{% else %}
							{{ state.false }}
					{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
