{% load static %}
{% block menu %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark af">
    <a class="navbar-brand ab ac" href="{% url 'mainapp:home' %}">Меню</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
			
			<!--
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'parents' %} active {% endif %}" 
                href="{ % url 'mainapp:parents' % }">Родители</a>
            </li>
			-->

            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'students' %} active {% endif %}" 
                href="{% url 'mainapp:students' %}">Ученики</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'groups' %} active {% endif %}" 
                href="{% url 'mainapp:groups' %}">Группы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'salary' %} active {% endif %}"
                    href="{% url 'mainapp:marks' %}">Отметка группы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'shedule' %} active {% endif %}" 
                href="{% url 'mainapp:shedule' %}">Расписание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'salary' %} active {% endif %}" 
                href="{% url 'mainapp:salary' %}">Зарплата</a>
            </li>
            {% if request.user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="/admin/">Админка</a> 
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
